# Python for Data Science, Level I
### *Session \#7*
---

### Helpful shortcuts
---

**SHIFT** + **ENTER** ----> Execute Cell

**TAB** ----> See autocomplete options

**ESC** then **b** ----> Create Cell 

**ESC** then **dd** ----> Delete Cell

**\[python expression\]?** ---> Explanation of that Python expression

**ESC** then **m** then __ENTER__ ----> Switch to Markdown mode

## I. Calling APIs

### Warm Ups

---

**Import requests package:** `import requests`

In [1]:
import requests

**GET request:** `response = requests.get('https://api.iextrading.com/1.0/stock/aapl/financials')`

In [136]:
response = requests.get('https://api.iextrading.com/1.0/stock/aapl/financials')

**Response as string:** `response.text`

**Response as dictionary:** `data = response.json()`

**Accessing nested data:** `data['financials'][0]['totalCash']`

### Exercises
---

**1. Use requests to send a GET request to the following URL, and store the response as** `response`

In [6]:
url = 'https://api.iextrading.com/1.0/stock/aapl/company'

response = requests.get(url)

**2. Convert the response into a dictionary using the** `.json()` **method. Print the website from the API data.**

In [13]:
data = response.json()

data['website']

'http://www.apple.com'

**3. Using the same steps as above, create a function that takes a stock symbol as input and returns the name of the CEO.**

In [17]:
def ceo_lookup(symbol):
    url = 'https://api.iextrading.com/1.0/stock/'+symbol+'/company'
    data = requests.get(url).json()
    return data['CEO']

ceo_lookup('msft')

'Satya Nadella'

### Extra Credit
---

**1. Use for-loops to modify the above function to accept a list of stock symbols instead of one. The function should return a list of CEO names.**.

In [19]:
def ceo_loop(symbol_list):
    ceos = []
    for symbol in symbol_list:  
        url = 'https://api.iextrading.com/1.0/stock/'+symbol+'/company'
        data = requests.get(url).json()
        ceos.append(data['CEO'])
    return ceos

ceo_loop(['fb', 'f', 'msft'])

['Mark Zuckerberg', 'James P. Hackett', 'Satya Nadella']

## II. Merging Data

### Warm Ups
---

**Dataframe from dictionaries:** `aapl = pd.DataFrame.from_dict(data['financials'])`

**Appending to a DataFrame:** `aapl.append(aapl)`

**Concatenating a list of DataFrames, enforcing no duplicates:** `pd.concat([aapl, aapl])`

**Merge two dataframes by index:** `pd.merge(aapl, aapl)`

**Merge two dataframes by column:** `pd.merge(aapl, aapl, on='reportDate')`

**Merge two dataframes by column:** `pd.merge(aapl, aapl, left_on='reportDate', right_on='reportDate')`

### Exercises
---

**1. Create dataframes from the two urls below, and use append to combine them.**

In [30]:
import pandas as pd
aapl_1 = 'https://api.iextrading.com/1.0/stock/aapl/chart/date/20190328'
aapl_2 = 'https://api.iextrading.com/1.0/stock/aapl/chart/date/20190329'

aapl_data = requests.get(aapl_1).json()
aapl_df = pd.DataFrame.from_dict(aapl_data)

aapl_data2 = requests.get(aapl_2).json()
aapl_df2 = pd.DataFrame.from_dict(aapl_data2)

aapl_2day = aapl_df.append(aapl_df2)

**2. Use the urls below to get a dataframe of the S&P 500 price over the same period.**

**Use pd.merge to combine the dataframes, then narrow the columns to the date and closing prices of each stock**

Hint: After a merge, duplicate columns will suffixed with \_x and \_y to distinguish. So your final dataframe should have columns of: date, close_x, close_y.

In [37]:
spy_1 = 'https://api.iextrading.com/1.0/stock/spy/chart/date/20190328'
spy_2 = 'https://api.iextrading.com/1.0/stock/spy/chart/date/20190329'

spy_data = requests.get(spy_1).json()
spy_df = pd.DataFrame.from_dict(spy_data)

spy_data2 = requests.get(spy_2).json()
spy_df2 = pd.DataFrame.from_dict(spy_data2)

spy_2day = spy_df.append(spy_df2)

result = pd.merge(aapl_2day, spy_2day, on=['date', 'label'])[['date', 'label', 'close_x', 'close_y']]

result

         date     label  close_x  close_y
0    20190328  09:30 AM  189.000  280.630
1    20190328  09:31 AM  189.220  280.680
2    20190328  09:32 AM  189.280  280.770
3    20190328  09:33 AM  189.340  280.725
4    20190328  09:34 AM  188.555  280.140
5    20190328  09:35 AM  188.920  280.310
6    20190328  09:36 AM  189.060  280.220
7    20190328  09:37 AM  188.810  280.440
8    20190328  09:38 AM  188.620  280.220
9    20190328  09:39 AM  188.800  280.320
10   20190328  09:40 AM  188.550  280.220
11   20190328  09:41 AM  188.790  280.270
12   20190328  09:42 AM  188.790  280.240
13   20190328  09:43 AM  189.025  280.410
14   20190328  09:44 AM  189.195  280.660
15   20190328  09:45 AM  188.990  280.400
16   20190328  09:46 AM  188.980  280.510
17   20190328  09:47 AM  189.130  280.600
18   20190328  09:48 AM  189.030  280.625
19   20190328  09:49 AM  188.970  280.580
20   20190328  09:50 AM  188.700  280.480
21   20190328  09:51 AM  188.510  280.475
22   20190328  09:52 AM  188.590  280.560
23   20190328  09:53 AM  188.640  280.600
24   20190328  09:54 AM  188.280  280.370
25   20190328  09:55 AM  188.400  280.540
26   20190328  09:56 AM  188.540  280.555
27   20190328  09:57 AM  188.540  280.550
28   20190328  09:58 AM  188.640  280.710
29   20190328  09:59 AM  188.590  280.700
..        ...       ...      ...      ...
750  20190329   3:30 PM  189.380  282.110
751  20190329   3:31 PM  189.450  282.240
752  20190329   3:32 PM  189.500  282.170
753  20190329   3:33 PM  189.390  282.180
754  20190329   3:34 PM  189.640  282.360
755  20190329   3:35 PM  189.630  282.340
756  20190329   3:36 PM  189.580  282.250
757  20190329   3:37 PM  189.690  282.280
758  20190329   3:38 PM  189.650  282.275
759  20190329   3:39 PM  189.680  282.370
760  20190329   3:40 PM  189.655  282.390
761  20190329   3:41 PM  189.670  282.380
762  20190329   3:42 PM  189.580  282.340
763  20190329   3:43 PM  189.600  282.415
764  20190329   3:44 PM  189.670  282.420
765  20190329   3:45 PM  189.730  282.570
766  20190329   3:46 PM  189.670  282.520
767  20190329   3:47 PM  189.550  282.410
768  20190329   3:48 PM  189.520  282.310
769  20190329   3:49 PM  189.560  282.280
770  20190329   3:50 PM  189.470  282.270
771  20190329   3:51 PM  189.580  282.415
772  20190329   3:52 PM  189.590  282.410
773  20190329   3:53 PM  189.620  282.450
774  20190329   3:54 PM  189.470  282.260
775  20190329   3:55 PM  189.880  282.510
776  20190329   3:56 PM  189.895  282.565
777  20190329   3:57 PM  189.830  282.610
778  20190329   3:58 PM  189.850  282.690
779  20190329   3:59 PM  189.910  282.600

[780 rows x 4 columns]

**3. Create dataframes from the two urls below, and use merge to find the percent change the day each dividend was announced.**

The merge will use the 'declaredDate' from the dividend data and the "date" column from the price data.

In [45]:
dividend_url = 'https://api.iextrading.com/1.0/stock/aapl/dividends/5y'
price_url = 'https://api.iextrading.com/1.0/stock/aapl/chart/5y'

dividend_data = requests.get(dividend_url).json()
dividend_df = pd.DataFrame.from_dict(dividend_data)

price_data = requests.get(price_url).json()
price_df = pd.DataFrame.from_dict(price_data)

result = pd.merge(dividend_df, price_df, left_on='declaredDate', right_on='date', how="outer")
result[['date', 'changePercent', 'amount']]

            date  changePercent  amount
0     2018-02-01          0.209    0.63
1     2017-11-02          0.731    0.63
2     2017-08-01          6.629    0.63
3     2017-05-02          0.634    0.63
4     2017-01-31         -0.230    0.57
5     2016-10-25          0.510    0.57
6     2016-07-26         -0.688    0.57
7     2016-04-26         -0.695    0.57
8     2016-01-26          0.553    0.52
9     2015-10-27         -0.633    0.52
10    2015-07-21         -0.999    0.52
11    2015-04-27          1.819    0.52
12    2015-01-27         -3.501    0.47
13    2014-10-20          2.140    0.47
14    2014-07-22          0.831    0.47
15    2014-04-23         -1.307    3.29
16           NaN            NaN    3.05
17           NaN            NaN    3.05
18           NaN            NaN    3.05
19           NaN            NaN    3.05
20    2014-04-09          1.314     NaN
21    2014-04-10         -1.290     NaN
22    2014-04-11         -0.739     NaN
23    2014-04-14          0.398     NaN
24    2014-04-15         -0.713     NaN
25    2014-04-16          0.203     NaN
26    2014-04-17          1.143     NaN
27    2014-04-21          1.187     NaN
28    2014-04-22          0.100     NaN
29    2014-04-24          8.198     NaN
...          ...            ...     ...
1232  2019-02-26          0.057     NaN
1233  2019-02-27          0.310     NaN
1234  2019-02-28         -0.984     NaN
1235  2019-03-01          1.051     NaN
1236  2019-03-04          0.503     NaN
1237  2019-03-05         -0.182     NaN
1238  2019-03-06         -0.575     NaN
1239  2019-03-07         -1.157     NaN
1240  2019-03-08          0.238     NaN
1241  2019-03-11          3.464     NaN
1242  2019-03-12          1.124     NaN
1243  2019-03-13          0.442     NaN
1244  2019-03-14          1.112     NaN
1245  2019-03-15          1.301     NaN
1246  2019-03-18          1.021     NaN
1247  2019-03-19         -0.792     NaN
1248  2019-03-20          0.874     NaN
1249  2019-03-21          3.683     NaN
1250  2019-03-22         -2.071     NaN
1251  2019-03-25         -1.209     NaN
1252  2019-03-26         -1.033     NaN
1253  2019-03-27          0.899     NaN
1254  2019-03-28          0.133     NaN
1255  2019-03-29          0.652     NaN
1256  2019-04-01          0.679     NaN
1257  2019-04-02          1.454     NaN
1258  2019-04-03          0.685     NaN
1259  2019-04-04          0.174     NaN
1260  2019-04-05          0.669     NaN
1261  2019-04-08          1.574     NaN

[1262 rows x 3 columns]